@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-elements {
  @apply relative; /* Ensure the element is positioned relative */
}

.menu-elements::after {
  content: "";
  @apply absolute left-0 w-1 h-full bg-red-400 opacity-0 transition-opacity; /* Small box is hidden initially */
  top: 50%;
  transform: translateY(-50%); /* Adjust for perfect vertical alignment */
}

.menu-elements:hover::after {
  @apply opacity-100;
}

.menu-elements:hover {
  @apply text-red-400;
}

.active-element {
  @apply text-red-400 relative; /* Same text color as hover */
}

.active-element::after {
  content: "";
  @apply absolute left-0 w-1 h-full bg-red-400 opacity-100; /* Small box visible permanently */
  top: 50%;
  transform: translateY(-50%); /* Align vertically */
}

.income-clicked {
  @apply bg-green-500 text-white;
}

.expense-clicked {
  @apply bg-red-500 text-white;
}

.activeEnableBtn {
  @apply bg-blue-500 justify-end transition-all duration-300 ease-in-out;
}

.deactiveEnableBtn {
  @apply bg-slate-500 justify-start transition-all duration-300 ease-in-out;
}

